$font-color : #121212;

html {
  font-size: 100%;
}

body {
  font-size: 0.9rem;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

video {
  width: 100%;
}

header {
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: #fff;
  z-index: 10;

  h1 {
    line-height: 0;

    a {   
      display: inline-block;
      margin: 20px 0 20px 40px;

      img {
        width: 175px;
      }
    }
  }
  



  .humberger-menu {
    display: block;
    width: 30px;
    height: 20px;
    position: absolute;
    top: 30px;
    right: 40px;
    z-index: 30;
    cursor: pointer;

    span {
      width: 30px;
      height: 2px;
      background-color: #333;
      position: absolute;
      left: 0px;
      transition: 0.4s ease-in-out;

      &:nth-child(1) {
        top: 0px;
      }

      &:nth-child(2) {
        top: 10px;
      }

      &:nth-child(3) {
        top: 20px;
      }
    }

    &.active {
      span:nth-child(1) {
        top: 10px;
        left: 0;
        transform: rotate(-405deg);
        background-color: #fff;
      }

      span:nth-child(2) {
        opacity: 0;
      }
      span:nth-child(3) {
        top: 10px;
        left: 0;
        transform: rotate(405deg);
        background-color: #fff;
      }
    }
  }

  .bg {
    width: 100%;
    height: 100vh;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 20;

    &.active {
      opacity: 0.8;
      visibility: visible;
    }
  }

  #humberger-navigation {
    width: 300px;
    height: 100vh;
    background-color: $font-color;
    color: #fff;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 40;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-200px);
    transition: all 0.4s;

    &.active {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
    }

    .sections {
      margin-top: 60px;

      li {
        padding: 20px 0;
        border-bottom: 1px solid #fff;

        &:nth-of-type(1) {
          border-top: 1px solid #fff;
        }

        a {
          color: #fff;
        }
      }
    }

    .sns {
      margin-top: 64px;

      li {
        margin-bottom: 16px;

        a {
          color: #fff;
          font-size: 0.9rem;
        }
      }
    }
  }
}

section {
  text-align: center;
  margin-bottom: 60px;

  .sec-title {
    font-size: 2.25rem;
    padding-top: 100px;
    padding-bottom: 30px;
  }
}

#pickup {
  #slider {
    text-align: center;
    margin: 0 auto;

    li {
      img {
        width: 80%;
        display: inline-block;
      }
    }
  }
}

#feature {
  .wrapper {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 16px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: auto auto auto;
    gap: 24px;

    li {
      box-shadow: 0px 0px 8px  #000;

      .fadeConts {
        width: 100%;
        height: auto;
        opacity: 0;
        transform: translateY(20px);
        transition: 1s;

        &.show {
          opacity: 1;
          transform: translateY(0);
        }
      }

      .text {
        padding: 24px 32px;
        text-align: left;

        p:nth-of-type(1) {
          font-size: 0.75rem;
          margin-bottom: 20px;
        }

        p:nth-of-type(3) {
          text-align: right;
          font-size: 0.75rem;
          margin-top: 32px;
        }
      }
    }
  }
}

#contact {
  background-color: $font-color;
  text-align: center;
  padding-top: 50px;
  color: #fff;

  .sec-title {
    font-size: 2.25rem;
    padding-bottom: 30px;
  }

  .wrapper {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 16px 60px;
    text-align: left;
    display: flex;
    justify-content: space-between;

    .text {
      width: 45%;
      p {
        margin-bottom: 30px;
      }
    }

    form {
      width: 45%;
      input,
      textarea {
        background-color: #fff;
        width: 100%;
        padding: 10px;
      }

      dd {
        margin-bottom: 20px;
      }

      button {
        background-color: $font-color;
        border: 1px solid #fff;
        width: 200px;
        height: 45px;

        &:hover {
          background-color: #fff;
          color: $font-color;
        }
      }
    }
  }

  > p {
    font-size: 0.75rem;
    padding-bottom: 10px;
  }
}



@media (max-width: 900px) {
  header {
    > a {
      margin: 20px 0 20px 10px;
    }

    .humberger-menu {
      top: 32px;
      right: 16px;
    }
  }

  section {
    margin-bottom: 90px;

    .sec-title {
      font-size: 1.5rem;
      padding-top: 80px;
      padding-bottom: 20px;
    }
  }

  #pickup {
    margin-bottom: 0;

    #slider li img {
      width: 90%;
    }
  }

  #contact {
    padding-top: 80px;

    .sec-title {
      font-size: 1.5rem;
    }

    .wrapper {
      padding-bottom: 90px;
      flex-direction: column;

      .text {
        width: 100%;
      }

      form {
        width: 100%;

        button {
          width: 100%;
        }
      }
    }
  }
}