$font-color : #121212;

html {
  font-size: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

header {
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: #fff;

  > a {
    display: inline-block;
    margin: 20px 0 20px 40px;

    h1 {
      line-height: 0;

      img {
        width: 175px;
      }
    }
  }
  



  .humberger-menu {
    display: block;
    width: 30px;
    height: 20px;
    position: absolute;
    top: 30px;
    right: 40px;
    z-index: 30;
    cursor: pointer;

    span {
      width: 30px;
      height: 2px;
      background-color: #333;
      position: absolute;
      left: 0px;
      transition: 0.4s ease-in-out;

      &:nth-child(1) {
        top: 0px;
      }

      &:nth-child(2) {
        top: 10px;
      }

      &:nth-child(3) {
        top: 20px;
      }
    }

    &.active {
      span:nth-child(1) {
        top: 10px;
        left: 0;
        transform: rotate(-405deg);
        background-color: #fff;
      }

      span:nth-child(2) {
        opacity: 0;
      }
      span:nth-child(3) {
        top: 10px;
        left: 0;
        transform: rotate(405deg);
        background-color: #fff;
      }
    }
  }

  .bg {
    width: 100%;
    height: 100vh;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;

    &.active {
      opacity: 0.8;
      visibility: visible;
    }
  }

  #humberger-navigation {
    width: 300px;
    height: 100vh;
    background-color: $font-color;
    color: #fff;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 40;
    // text-align: center;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-200px);
    transition: all 0.4s;

    &.active {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
    }

    .sections {
      margin-top: 60px;

      li {
        padding: 20px 0;
        border-bottom: 1px solid #fff;

        &:nth-of-type(1) {
          border-top: 1px solid #fff;
        }

        a {
          color: #fff;
        }
      }
    }

    .sns {
      margin-top: 64px;

      li {
        margin-bottom: 16px;

        a {
          color: #fff;
          font-size: 0.9rem;
        }
      }
    }
  }
}

main {
  .sec-title {
    padding-top: 80px;
  }
}

// .mainmovie {
//   width: 100%;
//   height: 600px;

//   video {
//     width: 100%;
//     height: 600px;
//     z-index: -10;
//   }
// }