html {
  font-size: 100%;
}

body {
  font-size: 0.9rem;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

header {
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: #fff;
  z-index: 10;
}

header > a {
  display: inline-block;
  margin: 20px 0 20px 40px;
}

header > a h1 {
  line-height: 0;
}

header > a h1 img {
  width: 175px;
}

header .humberger-menu {
  display: block;
  width: 30px;
  height: 20px;
  position: absolute;
  top: 30px;
  right: 40px;
  z-index: 30;
  cursor: pointer;
}

header .humberger-menu span {
  width: 30px;
  height: 2px;
  background-color: #333;
  position: absolute;
  left: 0px;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

header .humberger-menu span:nth-child(1) {
  top: 0px;
}

header .humberger-menu span:nth-child(2) {
  top: 10px;
}

header .humberger-menu span:nth-child(3) {
  top: 20px;
}

header .humberger-menu.active span:nth-child(1) {
  top: 10px;
  left: 0;
  -webkit-transform: rotate(-405deg);
          transform: rotate(-405deg);
  background-color: #fff;
}

header .humberger-menu.active span:nth-child(2) {
  opacity: 0;
}

header .humberger-menu.active span:nth-child(3) {
  top: 10px;
  left: 0;
  -webkit-transform: rotate(405deg);
          transform: rotate(405deg);
  background-color: #fff;
}

header .bg {
  width: 100%;
  height: 100vh;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 20;
}

header .bg.active {
  opacity: 0.8;
  visibility: visible;
}

header #humberger-navigation {
  width: 300px;
  height: 100vh;
  background-color: #121212;
  color: #fff;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 40;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateX(-200px);
          transform: translateX(-200px);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

header #humberger-navigation.active {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

header #humberger-navigation .sections {
  margin-top: 60px;
}

header #humberger-navigation .sections li {
  padding: 20px 0;
  border-bottom: 1px solid #fff;
}

header #humberger-navigation .sections li:nth-of-type(1) {
  border-top: 1px solid #fff;
}

header #humberger-navigation .sections li a {
  color: #fff;
}

header #humberger-navigation .sns {
  margin-top: 64px;
}

header #humberger-navigation .sns li {
  margin-bottom: 16px;
}

header #humberger-navigation .sns li a {
  color: #fff;
  font-size: 0.9rem;
}

section {
  text-align: center;
  margin-bottom: 60px;
}

section .sec-title {
  font-size: 2.25rem;
  padding-top: 100px;
  padding-bottom: 30px;
}

#pickup .slider {
  text-align: center;
  margin: 0 auto;
}

#pickup .slider button {
  display: none !important;
}

#pickup .slider figure img {
  width: 360px;
  display: inline-block;
}

#feature .wrapper {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 16px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: auto auto auto;
  gap: 24px;
}

#feature .wrapper li {
  -webkit-box-shadow: 0px 0px 8px  #000;
          box-shadow: 0px 0px 8px  #000;
}

#feature .wrapper li .fadeConts {
  width: 100%;
  height: auto;
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-transition: 1s;
  transition: 1s;
}

#feature .wrapper li .fadeConts.show {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

#feature .wrapper li .text {
  padding: 24px 32px;
  text-align: left;
}

#feature .wrapper li .text p:nth-of-type(1) {
  font-size: 0.75rem;
  margin-bottom: 20px;
}

#feature .wrapper li .text p:nth-of-type(3) {
  text-align: right;
  font-size: 0.75rem;
  margin-top: 32px;
}

#contact {
  background-color: #121212;
  text-align: center;
  padding-top: 50px;
  color: #fff;
}

#contact .sec-title {
  font-size: 2.25rem;
  padding-bottom: 30px;
}

#contact .wrapper {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 16px 60px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#contact .wrapper .text {
  width: 45%;
}

#contact .wrapper .text p {
  margin-bottom: 30px;
}

#contact .wrapper form {
  width: 45%;
}

#contact .wrapper form input,
#contact .wrapper form textarea {
  background-color: #fff;
  width: 100%;
  padding: 10px;
}

#contact .wrapper form dd {
  margin-bottom: 20px;
}

#contact .wrapper form button {
  background-color: #121212;
  border: 1px solid #fff;
  width: 200px;
  height: 45px;
}

#contact .wrapper form button:hover {
  background-color: #fff;
  color: #121212;
}

#contact > p {
  font-size: 0.75rem;
  padding-bottom: 10px;
}

@media (max-width: 900px) {
  header > a {
    margin: 20px 0 20px 10px;
  }
  header .humberger-menu {
    top: 32px;
    right: 16px;
  }
  section {
    margin-bottom: 90px;
  }
  section .sec-title {
    font-size: 1.5rem;
    padding-top: 80px;
    padding-bottom: 20px;
  }
  #pickup {
    margin-bottom: 0;
  }
  #contact {
    padding-top: 80px;
  }
  #contact .sec-title {
    font-size: 1.5rem;
  }
  #contact .wrapper {
    padding-bottom: 90px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #contact .wrapper .text {
    width: 100%;
  }
  #contact .wrapper form {
    width: 100%;
  }
  #contact .wrapper form button {
    width: 100%;
  }
}
/*# sourceMappingURL=styles.css.map */